name: CI-cron

on:
  schedule:
    - cron:  '30 17 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Install Packages
      run: npm install
    - name: Test
      run: npm test
