name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Install Packages
      run: npm install -f
    - name: Lint
      run: npm run lint
  build-site:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Install And Build
      run: |+
        npm install
        npm run build
        cd explorer
        npm install
        npm run build
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Packages
      run: npm install -f
    - name: Test
      run: npm test
  test-and-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Install Packages
      run: npm install -f
    - name: Test
      run: npm run cover
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@773b6d8e80fa7862da56a7664bd747c91255b2e2 # v2.3.5
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
  strict-type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Install Packages
      run: npm install -f
    - name: Strict type-check
      run: npm run strict-type-check
