name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
    - name: Install Packages
      run: npm install -f
    - name: Lint
      run: npm run lint
  build-site:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
    - name: Install And Build
      run: |+
        npm install
        npm run build
        cd explorer
        npm install
        npm run build
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Packages
      run: npm install -f
    - name: Test
      run: npm test
  test-on-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install Packages
      run: npm install -f
    - name: Test
      run: npm test
  test-and-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
    - name: Install Packages
      run: npm install -f
    - name: Test
      run: npm run cover
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
  strict-type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
    - name: Install Packages
      run: npm install -f
    - name: Strict type-check
      run: npm run strict-type-check
